In [8]:
import pandas as pd

In [9]:
data = pd.read_table("E:/Data/dac.tar/train.txt", nrows=10000)
data.head()

,0,1,1.1,5,0.1,1382,4,15,2,181,...,e5ba7672,f54016b9,21ddcdc9,b1252a9d,07b5194c,Unnamed: 35,3a171ecb,c5c50484,e8b83407,9727dd16
0,0,2.0,0,44.0,1.0,102.0,8.0,2.0,2.0,4.0,...,07c540c4,b04e4670,21ddcdc9,5840adea,60f6221e,NaN,3a171ecb,43f13e8b,e8b83407,731c3655
1,0,2.0,0,1.0,14.0,767.0,89.0,4.0,2.0,245.0,...,8efede7f,3412118d,NaN,NaN,e587c466,ad3062eb,3a171ecb,3b183c5c,NaN,NaN
2,0,NaN,893,NaN,NaN,4392.0,NaN,0.0,0.0,0.0,...,1e88c74f,74ef3502,NaN,NaN,6b3a5ca6,NaN,3a171ecb,9117a34a,NaN,NaN
3,0,3.0,-1,NaN,0.0,2.0,0.0,3.0,0.0,0.0,...,1e88c74f,26b3c7a7,NaN,NaN,21c9516a,NaN,32c7478e,b34f3128,NaN,NaN
4,0,NaN,-1,NaN,NaN,12824.0,NaN,0.0,0.0,6.0,...,776ce399,92555263,NaN,NaN,242bb710,8ec974f4,be7c41b4,72c78f11,NaN,NaN

In [10]:
file_name_train = 'train_subset.txt'
data.to_csv(file_name_train, encoding='utf-8', index=False)

In [12]:
test = pd.read_table("E:/Data/dac.tar/test.txt", nrows=5000)
test.head()

,Unnamed: 0,29,50,5,7260,437,1,4,14,Unnamed: 9,...,3486227d,1616f155,21ddcdc9,5840adea,2c277e62,Unnamed: 34,423fab69,54c91918,9b3e8820,e75c9ae9
0,27.0,17,45.0,28.0,2.0,28.0,27.0,29.0,28.0,1.0,...,e5ba7672,b4abdd09,21ddcdc9,5840adea,36a7ab86,NaN,32c7478e,85e4d73f,010f6491,ee63dd9b
1,1.0,1,19.0,7.0,1.0,3.0,1.0,7.0,7.0,1.0,...,d4bb7bd8,bd17c3da,1d04f4a4,a458ea53,82bdc0bb,NaN,32c7478e,5bdcd9c4,010f6491,cca57dcc
2,4.0,1,NaN,6.0,1051.0,134.0,4.0,35.0,72.0,1.0,...,07c540c4,bdc06043,NaN,NaN,6dfd157c,ad3062eb,423fab69,ef089725,NaN,NaN
3,7.0,1,25.0,10.0,139.0,74.0,48.0,13.0,44.0,1.0,...,27c07bd6,395856b0,21ddcdc9,a458ea53,9c3eb598,ad3062eb,3a171ecb,c0b8dfd6,001f3601,7a2fb9af
4,8.0,11,38.0,9.0,316.0,25.0,8.0,11.0,10.0,1.0,...,e5ba7672,63cdbb21,cf99e5de,5840adea,5f957280,NaN,55dd3565,1793a828,e8b83407,b7d9c3bc

In [13]:
file_name_test = 'test_subset.txt'
data.to_csv(file_name_test, encoding='utf-8', index=False)